/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Teko&display=swap');

:root {
    --body-font-family: 'Montserrat', 'Teko', sans-serif, Arial;
    --h-font-family: 'Teko', sans-serif;
    --p-font-family: 'Montserrat', sans-serif;
    --col-dark:#000000;
    --col-gray:#595451;
    --col-gray-90:#696561;
    --col-gray-80:#797672;
    --col-gray-70:#888581;
    --col-gray-60:#989592;
    --col-gray-50:#a7a6a3;
    --col-gray-40:#b8b6b4;
    --col-gray-30:#c9c7c5;
    --col-gray-20:#dad8d7;
    --col-gray-10:#ececeb;
    --col-orange:#f49800;
    --col-orange-90:#f9a234;
    --col-orange-80:#faab4b;
    --col-orange-70:#fbb562;
    --col-orange-60:#fdbf76;
    --col-orange-50:#fdc98a;
    --col-orange-40:#fed39f;
    --col-orange-30:#ffdcb4;
    --col-orange-20:#ffe7cb;
    --col-orange-10:#fef3e3;
    --xd-1:#EEEDED;
    --xd-2:#595452;
    --xd-3:#F49800;
    --xd-4:#FFFFFF;
    --xd-orange:#fd9e3f;
    --xd-gray:#454545;
}
body {
    background-color: var(--xd-1);
}
#skip {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    background-color: #585552;
    color: var(--xd-1);
    font-size: 2rem;
    border: solid;
}
/* HEADER */
header {
    background-color: var(--xd-gray);
    font-family: var(--h-font-family);
    color: var(--xd-1);
}
header .logo-image {
    width: 215px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
}
header .main-nav .nav.navbar-nav>.nav-item .nav-link {
    font-size: 1.75rem;
    padding: 0;
    position: relative;
    color: var(--xd-1);
    -moz-appearance: none;
    -webkit-appearance: none;
}
header .top-nav .nav-item .nav-link {
    color: var(--xd-1);
    font-size: 1rem;
    font-family: "Teko",sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.dropdown .dropdown-menu .dropdown-item{
            /* for Firefox */
            -moz-appearance: none;
            /* for Safari, Chrome, Opera */
            -webkit-appearance: none;
}
h1 {
   font-family: var(--h-font-family); 
   font-size: 48px;
}
h2 {
    font-family: var(--h-font-family); 
    font-size: 30px;
}
#mymenu {
    font-family: var(--h-font-family);
                /* for Firefox */
    -moz-appearance: none;
                /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
    display:block;
}
header .top-nav {
    /* background-color: #585552; */
}
body {
    font-family: "Teko",sans-serif;
}
header .top-nav .nav-item .nav-link {
    color: #fff;
    font-size: 23px;
    font-family: "Teko",sans-serif;
}
.navbar-nav {
    list-style: none;
}
.toggler {
    background-color: var(--xd-3);
    height:2rem;
    width:2rem;
}